/*******    FONTE   *******/


/*TAMANHO*/

.fonte_12 {
    font-size: 12px;
}

.fonte_13 {
    font-size: 13px;
}

.fonte_14 {
    font-size: 14px;
}

.fonte_15 {
    font-size: 15px;
}

.fonte_25 {
    font-size: 25px;
}


/*FAMILIA*/

.helvetica {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}


/*Weight*/

.bold {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}

.normal {
    font-weight: normal;
}